$body-color: slateblue;
$background-color: #191e26;
$button-clicked: #3d337a;

body {
  color: $body-color;
  background-color: $background-color;
  font-family: sans-serif;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1em;
}

.file {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

button {
  align-self: start;
  padding: 0.5em;
  background-color: $body-color;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: $button-clicked;
  color: gray;
}

#error {
  display: none;
  color: lightcoral;
}

.instructions {
  font-size: 0.8em;
  text-decoration: none;
}
